<div class="container-fluid">
    <div class="row">
        <div class="col-6 offset-3">
            <button type="button" class="btn btn-success btn-novo" (click)="novaPessoa()" data-toggle="modal" data-target="#exampleModalLong">
                Novo
            </button>
            <div class="table-responsive">
                <table *ngIf="pessoas.length > 0" class="table table-bordered">
                    <thead class="thead-light">
                        <tr>
                            <th>Nome</th>
                            <th>Data nascimento</th>
                            <th>Email</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let pessoa of pessoas">
                            <td>{{pessoa.nome}}</td>
                            <td>{{pessoa.dataNascimento | date:'dd/MM/yyyy'}}</td>
                            <td>{{pessoa.email}}</td>
                            <td>
                                <button class="btn btn-warning" data-toggle="modal" data-target="#exampleModalLong" (click)="buscarPorId(pessoa.id)">Editar</button>
                                <button class="btn btn-info" data-toggle="modal" data-target="#exampleModalLong" (click)="buscarPorId(pessoa.id)">Detalhes</button>
                                <button class="btn btn-danger" (click)="excluir(pessoa.id)">Excluir</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div *ngIf="pessoas.length == 0">
                    <p>Não há registros</p>
                </div>
            </div>
        </div>
    </div>
</div>
<pessoa-cadastro [pessoa]="pessoa" (pessoaSalva)="buscarPessoas($event)"></pessoa-cadastro>